<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- Chatbot container -->
    <main>
      <div class="chatbot">
        <div class="chat-header">
          <h1>Facebook LLM</h1>
          <div class="toggle-switch">
            <input type="checkbox" id="toggle-mode-checkbox" />
            <label for="toggle-mode-checkbox">
              <span class="icon sun">☀</span>
              <span class="slider"></span>
              <span class="icon moon">🌙</span>
            </label>
          </div>
          <!-- <button id="toggle-mode">Toggle Dark/Light Mode</button> -->
        </div>

        <div class="spacer" id="messages-container"></div>
        <form class="chat-form" id="message-form">
          <textarea
            id="message-input"
            placeholder="Send a message..."
          ></textarea>
          <button type="submit">➤</button>
        </form>
      </div>
    </main>

    <!-- External JavaScript -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- Dark/Light Mode Toggle Script -->
    <script>
      const toggleCheckbox = document.getElementById("toggle-mode-checkbox");
      toggleCheckbox.addEventListener("change", function () {
        if (this.checked) {
          document.body.classList.add("dark-mode");
        } else {
          document.body.classList.remove("dark-mode");
        }
      });
    </script>
  </body>
</html>
